* {
    margin: 0;
    padding: 0;
}

:root {
    --white: #E8E9EB;
    --black: rgb(29, 29, 27);
    --border-color: rgba(29, 29, 27, 0.3);
    --main-color: #E84C1D;
    --secondary-color: #009C6D;

    --content-min-size: 350px;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bold {
    font-weight: 700 !important;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    transition: 0.3s;
}

.block {
    width: 100%;
    height: 100%;

    padding: 40px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: end;

    overflow: hidden;
}

.big_content {
    display: flex;
}

a{
    position: relative;
    text-decoration: none;
    cursor: pointer;
}
a.liens:before {
    content: "";
    position: absolute;
    width: 0;
    height: 10%;

    transition: 0.3s ;
    background-color: var(--main-color);
    bottom: 0;
}

a.liens:active {
    color: var(--main-color);
}
a.liens:hover:before {
    width: 100%;
}

/*img*/

.img {
    height: 100%;
    width: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*text*/
h1, h2, h3, p, span, li, a {
    color: var(--black);
}

p, li, a, span, textarea{
    font-family: "halyard-display-variable", sans-serif;
    font-variation-settings: "wght" 300;
    font-size: 16px;
    line-height: 140%;

}

.big-text {
    font-family: "rival-sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
}
section.grid, .content_demi_grid{
    background-color: var(--white);
    width: 100%;
    height: 100vh;
    max-width: 1900px;
    min-height: 900px;
}

.block.button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.block.button a *, .block.button a{
    transition: 0.6s;
}
.block.button a {
    padding: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.block.button a img {
    height: 20px;
}
.block.button a:hover{
    background-color: white;
}
.block.button a:hover img {
    padding-right: 10px;
}

/*class utilitaire*/
.color {
    color: var(--main-color);
}
.bigbutton {
    z-index: 2;
    position: relative;
    overflow: hidden;

    cursor: pointer;
    padding: 15px 30px;
    border: none;
    width: 50%;
    min-width: fit-content;

    background-color: white;
    margin-top: 100px;
    margin-bottom: 200px;
    transition: 0.3s;
}
.bigbutton:after {
    position: absolute;
    z-index: 1;
    content: "";
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    transform: translateX(-150%) skew(-20deg);
    transition: 0.5s ease-in-out;
}
.bigbutton p {
    z-index: 5;
    position: relative;
    transition: 0.5s ease-in-out;
}
.bigbutton:hover p {
    color: var(--white);
}
.bigbutton:hover:after{
    transform: translateX(0%) skew(0deg);
}

/*ML*/
section.ml {
    display: flex;
    align-items: start;
    margin-top: 33vh;
}

.ml .title {
    flex-grow: 2;
    background-color: var(--main-color);
    height: 33vh;
    max-width: 25vw;
}

.ml .text {
    flex-grow: 3;
    height: fit-content;
    padding-right: 25vw;
}

@media (max-height: 900px){
    section.ml {
        margin-top: 347px;
    }
    .ml .title  {
        height: 347px;
    }
}

.ml .title h1 {
    color: var(--white);
}
.ml strong {
    color: var(--main-color);
}

@media (max-width: 1400px) {
    section.ml {
        flex-direction: column;
        align-items: center;
    }
    .ml .title {
        width: 100%;
        max-width: none!important;
    }
    .ml .text {
        padding-right: 40px;
        max-width: 900px;
        width: 95%;
    }
    .grid, .demi_grid {
        grid-template-columns: repeat(3, 1fr) !important;
    }
}@media (max-width: 1200px) {
    body.on {
        overflow: hidden;
    }
}
@media (max-width: 950px) {
    .grid {
        grid-template-columns: repeat(2, 1fr) !important;
        grid-template-rows: repeat(4, 347px);
    }
    section.grid{
        height: auto;
    }
}


